[Unit]
Description=Csharp daemon to transmit ventilator data from/to Arduino and frontend

[Service]
ExecStart=/opt/ventilator/VentilatorDaemon/publish_linux/VentilatorDaemon
Restart=always

[Install]
WantedBy=multi-user.target
